@keyframes hideaway {
    from { display: block; }
    to { transform: translateY(-15vh); opacity: 0;}
}

#add-post-form {
    display: none;
}

.hide {
    position: relative;
    z-index: 20;
    animation-delay: 2s;
    animation: hideaway 2s;
    display: none;
}
