/* ============================= ROOT ============================= */
:root {
    --primary-magnolia: #fcf7ff;
    --secondary-sapphire: #0f52ba;
    --tertiary-dark-grey: #101010;
    --quaternary-green: #299e21;
    --dark-black: #0c0c0c;
    --grey: #1a1a1a;
    --light-grey: #333333;
    --code-green: #41ff28;

    --notice-me-red: #b71010;
    --viewport-width-height: 95vw;
    
    font-family: "Helvetica Neue", sans-serif;
}

/* ============================= ID SELECTORS ============================= */
#background {
    display: block;
    background-color: black;
    position: absolute;
    z-index: -20;
    width: 98vw;
    height: 120%;
    border-radius: 0 0 1em 1em;
}

#cke_1_top {
    font-family: "Helvetica Neue", sans-serif;
}

label, input, #cke_content, textarea {
    grid-column: 1 / 3;
}

#showPassword, label[for="showPassword"] {
    display: inline;
    max-width: initial;
}

#result {
    width: 100%;
    height: 100%;
    border: none;
}

/* ============================= CLASS SELECTORS ============================= */
.navigation {
    display: block;
}

.responsive {
    display: none;
}

.circle:nth-of-type(odd) {
    width: 15vw;
    height: 15vw;
}

.circle:nth-of-type(even) {
    width: 5vw;
    height: 5vw;
}

.circle {
    position: fixed;
    display: block;
    background-color: var(--code-green);
    opacity: 0.75;
    border-radius: 20%;
    animation: animate 25s linear infinite;
    animation-delay: 0s;
    bottom: 0;
    z-index: -9;
}

.circle#first {
    left: 25%;
}

.circle#second {
    left: 7%;
    animation-duration: 3s;
}

.circle#third {
    left: 57%;
    animation-duration: 4s;
}

.circle#fourth {
    left: 36%;
    animation-duration: 7s;
}

.circle#fifth {
    left: 42%;
    animation-duration: 5s;
}

.circle#sixth {
    left: 73%;
    animation-duration: 9s;
}

.circle#seventh {
    left: 80%;
    animation-duration: 6s;
}

.circle#eighth {
    left: 77%;
    animation-duration: 8s;
}

.circle#ninth {
    left: 11%;
    animation-duration: 4s;
}

.circle#tenth {
    left: 65%;
    animation-duration: 9s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }
    20% {
        transform: translateY(-15vh) rotate(60deg);
        opacity: 0.15;
    }
    100% {
        transform: translateY(-125vh) rotate(540deg);
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0.01;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.01;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.01;
    }
}

.alert {
    width: 70vw;
    border-radius: .25rem;
    margin: 2rem auto;
    color: var(--primary-magnolia);
}

div.alert>.btn-close {
    float: right;
}

.required-red {
    color: var(--notice-me-red);
}

.blog-title {
    font-size: 1.5rem;
}

.form-control {
    line-height: 2.5em;
    border: none;
    border-radius: 0.125em;
    padding-left: .5em;
    outline: 0.125em solid #0033ff;
    font-family: "Helvetica Neue", sans-serif;
}

.form-control:focus:invalid {
    outline: 0.125em solid red;
}

.form-control:focus:valid {
    outline: 0.125em solid green;
}

.form-control:focus {
    box-shadow: 0.25em 0.25em 0.25em 0.25em rgba(6, 6, 6, 0.397);
    outline: 0.125em solid var(--secondary-sapphire);
}

.alert.message>.btn-close {
    background-color: transparent;
    border-radius: .25rem;
    border: .025rem solid rgb(124, 128, 10);
}

.alert.success>.btn-close {
    background-color: transparent;
    border-radius: .25rem;
    border: .025rem solid rgb(10, 128, 45);
}

.alert.error>.btn-close {
    background-color: transparent;
    border-radius: .25rem;
    border: .025rem solid rgb(128, 24, 10);
}

.alert.message>.btn-close:hover {
    background-color: rgba(159, 138, 4, 0.397);
}

.alert.success>.btn-close:hover {
    background-color: rgba(63, 159, 4, 0.397);
}

.alert.error>.btn-close:hover {
    background-color: rgba(159, 53, 4, 0.397);
}

.alert.message {
    background-color: rgba(168, 165, 76, 0.748);
    padding: .25rem;
    border: .05rem solid rgb(128, 126, 10);
}

.alert.success {
    background-color: rgba(87, 168, 76, 0.748);
    padding: .25rem;
    border: .05rem solid rgb(10, 128, 59);
}

.alert.error {
    background-color: rgba(168, 87, 76, 0.748);
    padding: .25rem;
    border: .05rem solid rgb(128, 36, 10);
}

.yoda-img {
    display: block;
    max-width: 50vw;
    margin: 0 auto;
}

.code-editor {
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
}

.code {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    overflow-y: auto;
    background-color: var(--dark-black);
    padding: 1rem;
    /* border-radius: 1rem 0 0 1rem; */
}

.code::-webkit-scrollbar {
    width: .4rem;
}

.code::-webkit-scrollbar-thumb {
    background-color: var(--code-green);
    border-radius: .4rem;
}

.code textarea {
    width: 100%;
    background-color: var(--grey);
    color: var(--code-green);
    height: 40vh;
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    resize: vertical;
}

.code textarea::-webkit-scrollbar {
    width: .4rem;
}

.code textarea::-webkit-scrollbar-thumb {
    background-color: var(--code-green);
    border-radius: .4rem;
}

.blinky {
    opacity: 0.5;
    animation: blink 6s infinite;
}

/* ============================= ELEMENT SELECTORS ============================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav>button {
    display: block;
    border: none;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--primary-magnolia);
    line-height: 5rem;
}

nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav>ul>li a {
    font-size: 1.75rem;
    color: rgb(205, 209, 212);
}

nav>ul>li a:hover {
    color: rgb(228, 242, 255);
}

h1 {
    text-align: center;
    background-color: rgba(0,0,0,0.33);
    color: var(--code-green);
    font-size: 3.5rem;
    margin-bottom: 0.5em;
}

section>article {
    max-width: 70vw;
    margin: 2em auto 0;
    max-height: 20vh;
    border: 1px solid;
    padding: 2px 5px;
    overflow-y: hidden;
}

section>article>* {
    height: 100%;

    /* Both of the following are required for text-overflow */
    white-space: nowrap;
    overflow-x: clip;
    text-overflow: ellipsis;
}

footer>p {
    margin: 0 2em;
}

form>input {
    max-width: 100%;
}

form>input[type="submit"] {
    grid-column: 1 / 3;
    margin: .25rem auto;
    font-size: 1.5rem;
    padding: .25rem;
    max-width: fit-content;
    background-color: #a4969b;
    border: .125em solid rgb(41, 39, 39);
    border-radius: .25rem;
    transition: ease-in-out .25s;
}

form>input[type="submit"]:hover {
    background-color: rgba(54, 51, 51, 0.5);
    border: .125em solid rgb(231, 224, 224);
    color: rgb(231, 224, 224);
}

form>label.form-label {
    text-align: center;
    margin-right: .5rem;
    font-size: 2rem;
}

h2, label {
    font-size: 1rem;
    font: 600 1.2rem sans-serif;
    margin: 1rem 0;
    color: white;
}

label>img {
    width: 1.3rem;
    margin-right: 1rem;
    vertical-align: middle;
}

form {
    padding: .5rem;
    display: grid;
    row-gap: 2rem;
    max-width: 90vw;
    min-width: 80vw;
    margin: 0 auto;
    background-color: rgba(203, 201, 201, 0.25);
}

table {
    width: 100%;
    margin: 0 auto;
    max-width: 60vw;
    overflow-wrap: break-word;
}

.table tr td {
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
}

main {
    position: relative;
    padding-bottom: 2em;
    color: var(--primary-magnolia);
    min-height: 100vh;
    background-image: linear-gradient(45deg, var(--grey), var(--dark-black));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

main p + a {
    position: absolute;
    z-index: 0;
}

main a {
    color: var(--quaternary-green);
}

main a:hover {
    color: var(--code-green)
}

header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--tertiary-dark-grey);
}

footer {
    position: relative;
    background-color: var(--tertiary-dark-grey);
    color: white;
    padding: 1em 0;
    text-align: center;
    z-index: 2;
}

footer a {
    color: darkgrey;
}

footer a:hover {
    color: var(--primary-magnolia);
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

body {
    margin: 0;
    width: 100vw;
    font-family: sans-serif;
}