{# import the macro at the top of the template #}
{% from "forms.html" import form_field %}
{% extends "base.html" %}

{% block title %}Register{% endblock %}
{% block metacontent %}Register for an account today to access more functionality of blog.fsixninja.dev{% endblock %}

{% block h1 %}<h1>Register</h1>{% endblock %}
{% block main %}
    {% include 'flash-messages.html' %}

    {% for error in form.name.errors, form.email.errors, form.password.errors, form.password_confirmation.errors %}
    {% if error %}
        {{ error|join(', ') }}<br>
    {% endif %}
    {% endfor %}

    <form method="POST" action="{{ url_for('app_bp.create_user') }}">
        <p class="required-red">* : Required</p>

        {% for field in form %}
            {{ form_field(field) }}
        {% endfor %}
    </form>

    {% include 'display-users.html' %}
{% endblock %}

{% set scriptAdditions = ['js/showPass.js'] %}