{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block metacontent %}This is a dashboard; login to access your information on blog.fsixninja.dev!{% endblock %}

{% block h1 %}<h1>Dashboard</h1>{% endblock %}
{% block main %}
    {% include 'flash-messages.html' %}

    <h2>Welcome.</h2>
    <a href="{{ url_for('app_bp.logout') }}">Logout</a>
    <ul>
        <li>Display name: {{ current_user.name }}</li>
        <li>Email: {{ current_user.email }}</li>
        <li>User since: {{ current_user.date_added.strftime('%B %d, %Y') }}</li>
    </ul>

    <p>Update your account information <a href="{{ url_for('app_bp.update_user', id=current_user.id) }}">here</a>.</p>

    {% include 'display-users.html' %}
{% endblock %}