{% macro form_field(field) %}
    {% if field.type != 'hidden' %}
        {% if field.flags.required %}
            {% if field.type != 'SubmitField' %}
                {{ field.label(text=field.label.text + '*', class='form-label') }}
            {% else %}
                {{ field.label }}
            {% endif %}
            {{ field(class="form-control") }}

        {% else %}
            {% if field.id == 'showPassword' %}
                <div>{{ field.label }}{{ field }}</div>
            {% elif field.type=='StringField' or field.type=='EmailField' %}
                {{ field.label(class='form-label') }}
                {% if field.type=='EmailField' %}
                    {{ field(class="form-control", autocomplete="off") }}
                {% else %}
                    {{ field(class="form-control", autocomplete="off") }}
                {% endif %}
            {% else %}
                {{ field }}
            {% endif %}

        {% endif %}
    {% endif %}
{% endmacro %}