<nav>
    <button>&#x2261; Menu</button>
    <ul class="navigation responsive">
        <li><a href="/">Home</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('app_bp.logout') }}">Logout</a></li>
        <li><a href="{{ url_for('app_bp.dashboard') }}">Dashboard</a></li>
        {% else %}
        <li><a href="{{ url_for('app_bp.create_user') }}">Register</a></li>
        <li><a href="{{ url_for('app_bp.login') }}">Login</a></li>
        {% endif %}
        {% if current_user.is_authenticated and current_user.id == 1 %}
        <li><a href="/admin">Admin</a></li>
        {% endif %}
    </ul>
</nav>
